@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth; /* smooth scrolling visual */
}

body {
    /* to make sure the wave fills up the whole page */
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    height: 80px;
    display: flex;
}

p {
    line-height: 1.5; /* create more space between the lines */
}

a {
    text-decoration: none; /* removes the underlines */
}

a:hover {
    text-decoration: underline; /* add underline on hover */
}

img {
    width: 100%; /* want all images to be 100% of its parent */
    /* this does not affect the image in the nav because even though .logo is hard-coded, it is a class which has a higher specificity/priority */
    height: 100%;
    max-height: 50vh; /* makes the image smaller; max height will be 50% of the page's height */
    /* padding: 20px;   */
}

.nav__container {
    width: 100%; /* take up the full space of the parent */
    display: flex;
    padding: 0 24px; /* restricts the elements from touching the ends of the page */
    max-width: 1200px; 
    justify-content: space-between; /* send the children to both ends of the container */
    align-items: center;
    margin: 0 auto; /* center the children */
}

.purple {
    color: #7342d6; /* makes any text wrapped around the span of this class a purple color */
}

.logo {
    width: 160px; /* change the size of the picture */
}

ul {
    display: flex; /* puts the links side by side */
}

li {
    list-style: none; /* removes the bullet points from the links */
}

.nav__link {
    margin-left: 16px; /* create space between each link */
    text-decoration: none; /* remove the underlines */ 
    font-size: 20px;
    color: #7342d6; 
    font-weight: bold;
    padding: 8px; /* for the book element which will have a border around it */
}

.nav__link:hover {
    text-decoration: underline; /* underlines the element when you hover over that link */
}

.nav__link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px; /* curve the edges of the border */
}

.nav__link--primary:hover {
    text-decoration: none; /* doesn't underline the book element */
}

#landing {
    background-color: rgba(115, 66, 214, 0.1);
}

header {
    height: calc(100vh - 80px); /* makes the height the rest of the page; 80px is the height of the nav */
}

.header__container {
    width: 100%; /* span the whole width of the page */
    max-width: 720px; /* cap the width of the container */
    margin: 0 auto; /* center the container to the header */
    height: 100%; /* make the height of the container span the rest of the parent */
    display: flex; /* puts the text and the image side by side 1/2 */
    flex-direction: column; /* puts the text over the image 2/2 */ 
    justify-content: space-around; /* creates space vertically (because of flex-direction column) for the children */
}

.header__description {
    display: flex; /* children of the header are side by side */
    flex-direction: column; /* children are now on top of each other */
    align-items: center; /* bring button to the middle */
}

h1 {
    font-size: 56px;
    color: #7342d6;
    margin-bottom: 24px; /* creates space between h1 and h2 */
    text-align: center; /* centers the h1 */
}

h2 {
    text-align: center; 
    font-size: 32px;
    margin-bottom: 32px; /* creates space between h2 and the image */

}

button {
    cursor: pointer; /* targeting all the buttons, the cursor changes when hovering over it */
}

button:active {
    transform: translateY(1px); /* move the button down one pixel when clicked */
}

.btn {
    background: #7342d6;
    color: white;
    padding: 12px 24px; /* create space between text and border of the button */
    font-size: 20px;
    border-radius: 4px; /* curve the edges */
    border: none; /* remove the border (the black outline) */
}

.header__img--wrapper {
    padding: 20px; /* makes it a bit smaller and when resizing the screen, the image won't touch the sides */
    z-index: 2; /* makes sure the z-index is higher than the wave */ 
}

.container {
    padding: 56px 0; /* create space between container and the previous page */
}

.row {
    width: 100%;
    max-width: 1200px; /* capping the width so it doesn't stretch all the way to the ends on a big screen */
    margin: 0 auto; /* center it horizontally */
}

.row__column {
    display: flex;
    flex-direction: column; /* to center the button in the explore page */
    align-items: center;
}

.no-cursor {
    cursor: not-allowed;
}

/*

HIGHLIGHTS

*/

#highlights {
    position: relative;
    max-width: 100vw;
}

#highlights:after,
#highlights:before  {
    background: url('assets/wave.svg'); /* picture of a wave is set to the background */
    content: ""; /* need this to display */
    position: absolute; /* the parent, #highlights, needs to be position relative */
    width: 101vw;
    height: 12vw; /* this height gets bigger the wider the screen gets */ 
    left: 0;
    z-index: 1;
    background-size: cover; /* 1/2 spans the whole width of the page */
    background-repeat: no-repeat; /* 2/2 all the way to the left and right of the page */
}

#highlights:before {
    transform: translateY(-100%); /* move the wave up where we need it */
    top: 1px;
}

#highlights::after {
    transform: translateY(100%) rotate(180deg); /* move the wave up where we need it and then flip it */ 
    bottom: 1px;
}

.highlight__wrapper {
    display: flex; /* puts all 3 highlights side by side */
}

.highlight {
    padding: 0 24px; /* creates space on the sides of each highlight */
    width: calc(100% / 3); /* each highlight is 1/3 */
    display: flex; /* each element is side by side */ 
    flex-direction: column; /* the h3 and img is above the para */
    align-items: center; /* aligns it horizontally */
    justify-content: center; /* aligns vertically */
}

.highlight__para {
    text-align: center; /* center the text, no need for flexbox */
    max-width: 280px;
}

.highlight__img {
    border: 2px solid #7342d65d; /* border around the picture */
    color: #7342d6; /* set the icon color to purple */ 
    width: 100px;
    height: 100px;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 32px; /* make the icon bigger */
    margin-bottom: 24px; /* create space between the img and the text */
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px; /* create space between the subtitle and the para */
}

/* 

FEATURES 

*/

#features {
    padding-top: 8vw; /* makes space from the waves onto the features section, needs to be vw because of the others are based off vw too */
    background-color: rgba(115, 66, 214, 0.1);
}

.books {
    display: flex; /* the books are side by side */
    flex-wrap: wrap;
}

.book {
    width: 25%; /* each book takes up 1/4 of the row */
    padding: 24px; /* adding space between each book */
}

.book__img {
    max-height: 380px;
    transition: all 300ms ease; /* ease the transformation in .book:hover */
    cursor: not-allowed; /* makes the cursor into a non clickable icon */
}

.book__img--wrapper {
    margin-bottom: 8px; /* creates space between book image and title */
    border-radius: 4px; /* make the image have curved edges */
    overflow: hidden; /* to actually see the curve */
    display: flex; /* so the image doesn't come out of the figure; remove the gap between the figure and the image */
}

.book:hover .book__img {
    transform: scale(1.03); /* when hovering over the book, we want the image to increase by 3% */
}

.book__title {
    font-size: 20px;
    margin-bottom: 8px; /* create space between title and stars */
}

.book__title:hover {
    text-decoration: underline; /* underlines the book title when mouse is over it */
    cursor: not-allowed; /* makes a non-clickable symbol */
}

.book__ratings {
    margin-bottom: 8px; /* create space between the stars and the price  */
    color: #fabf2a;
}

.book__price--normal {
    text-decoration: line-through; /* puts a line through the normal price */
    padding-right: 6px; /* create space between normal price and discounted price */
    color: #bfbfbf;
}

/* 

EXPLORE

*/

#explore {
    background-color: rgba(115, 66, 214, 0.1);
}

/* 

FOOTER 

*/

footer {
    background-color: #242424;
}

.footer__logo {
    display: flex; /* fix the figure having a bigger height than the image */
}

.footer__logo--img {
    width: 160px;
    filter: grayscale(1) invert(1); /* grayscale turns it into dark colors and then inverts it to white */
}

.footer__link,
.footer__copyright {
    color: #fff;
}

.footer__list {
    margin: 20px 0 24px 0; /* creates space between links and copyright; also makes it more even */
}

.footer__link {
    padding: 0 8px; /* create space between each link */
}
