@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%; /* take up the full space of the parent */
    display: flex;
    padding: 0 24px; /* restricts the elements from touching the ends of the page */
    max-width: 1200px; 
    justify-content: space-between; /* send the children to both ends of the container */
    align-items: center;
    margin: 0 auto; /* center the children */
}

.logo {
    width: 160px; /* change the size of the picture */
}

ul {
    display: flex; /* puts the links side by side */
}

li {
    list-style: none; /* removes the bullet points from the links */
}

.nav__link {
    margin-left: 16px; /* create space between each link */
    text-decoration: none; /* remove the underlines */ 
    font-size: 20px;
    color: #7342d6; 
    font-weight: bold;
    padding: 8px; /* for the book element which will have a border around it */
}

.nav__link:hover {
    text-decoration: underline; /* underlines the element when you hover over that link */
}

.nav__link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px; /* curve the edges of the border */
}

.nav__link--primary:hover {
    text-decoration: none; /* doesn't underline the book element */
}